{% extends "backend/content_management/layout.html.twig" %}

{% block content %}
    {% if content is defined %}
        {% set contentKey= content.contentKey %}
        {% set contentValue=content.contentValue %}
    {% else %}
        {% set contentKey= '' %}
        {% set contentValue= '' %}

     {% endif %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <span class="nav-tabs-title" style="font-size:14px">Add new content:</span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profile">
                                        <form action ="{{action}}" method="post">
                                            <div class="form-group"><label>Content Key:</label> <input type="text" name="contentKey" value="{{contentKey}}" class="form-control"></div>
                                            <div class="form-group"><label>Content Value:</label> <textarea  name="contentValue" class="form-control">{{contentValue}}</textarea></div>

                                            <input type="submit" value="Submit" class="btn btn-success" style="font-size:14px">

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
