{% extends "backend/base.html.twig" %}
{% block submenu %}
<div class="sidebar" data-color="green" data-background-color="black">

    <div class="logo">
        <a href="#4" class="simple-text logo-mini">
            ADMIN PANEL
        </a>
        <a href="#" class="simple-text logo-normal">

            CONTENT MANAGEMENT
        </a>
    </div>
    <div class="sidebar-wrapper" >
        <ul class="nav">
            <li class="nav-item active  " >
                <a class="nav-link" href="{{ path('admin_main') }}">
                    <i class="material-icons">M</i>
                    <p>MAIN MENU</p>

                </a>
            </li>
            <li class="nav-item active  " >
                <a class="nav-link" href="{{ path('admin_content_read')}}">
                    <i class="material-icons">A</i>
                    <p>SEE ALL CONTENTS</p>

                </a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link" href="{{ path('admin_content_create')}}">
                    <i class="material-icons">C</i>
                    <p>CREATE NEW</p>

                </a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link" href="{{ path('view_update_table')}}">
                    <i class="material-icons">U</i>
                    <p>UPDATE</p>

                </a>
            </li>
            <li class="nav-item active dropdown ">
                <a class="nav-link" href="{{ path('view_delete_table')}}">
                    <i class="material-icons">D</i>
                    <p>DELETE</p>

                </a>
            </li>

            <!-- your sidebar here -->

        </ul>
    </div>
</div>
<div class="main-panel">
    {% endblock %}
