{% extends "backend/content_management/layout.html.twig" %}
{% block content %}
    <h1>{{ page_title }}</h1>
    {% if contents is defined %}
        </br>
        <table class="table-success table-striped" border="1" style="font-size:14px; width:100%; text-align:center;" >
            <tr  style="color:greenyellow; background-color:black;">
                <th>Id</th>
                <th>Content Key</th>
                <th>Content Value</th>
                <th>Update</th>
            </tr>
            {% for content in contents %}
                <tr style="text-align:left;" >
                    <td>{{content.id}} </td>
                    <td>{{content.contentKey}}</td>
                    <td>{{content.contentValue}}</td>

                    <td style=" font-weight:bold"><a href="/content/update/{{content.id}}" style="color:blueviolet;">UPDATE</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}