{{ include('frontend/header.html.twig')}}
<div class="wrapper">
    <div class="demo-header demo-header-image">
            <div class="motto">
                <h1 class="title-uppercase">Cromwells</h1>
            </div>
    </div>
    <div class="main">
        <div class="section">
          {{ include('frontend/body.html.twig')}}

        </div>
    </div>
</div>
{{ include('frontend/footer.html.twig')}}
