<div class="container tim-container">
   <div class="tim-title">
       <h2></h2>
   </div>

   <div id="buttons">
           <div class="tim-title">
               <h3></h3>
           </div>
           <div class="row">

           </div>
           <br />
           <div class="row">
               <div class="col-md-8 col-md-offset-2">

               </div>
           </div>

   </div>
<!-- end buttons div -->
</div>
