<footer class="footer-demo section-dark">
<div class="container">
    <nav class="pull-left">
        <ul>

            <li>
Cromwell Business Systems Ltd
            </li>
            <li>
            King’s View House, 3 Bartholemew’s Walk, Cambridgeshire Business Park, Ely, Cambs, CB7 4EA
            </li>

        </ul>
    </nav>
     
</div>
</footer>

</body>

  <script src="frontend/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="frontend/assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

	<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>

	<!--  Plugins -->
	<script src="frontend/assets/js/ct-paper-checkbox.js"></script>
	<script src="frontend/assets/js/ct-paper-radio.js"></script>
	<script src="frontend/assets/js/bootstrap-select.js"></script>
	<script src="frontend/assets/js/bootstrap-datepicker.js"></script>

	<script src="frontend/assets/js/ct-paper.js"></script>
</html>
