<ul class="nav navbar-nav navbar-right">
    <li>
      <a href="#" class="btn btn-danger btn-simple">Homepage</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger btn-simple">About</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger btn-simple">Products</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger btn-simple">Recruitment</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger btn-simple">Company Culture</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger btn-simple">Contact</a>
    </li>
</ul>
