<!-- Header -->
{% block header %}
    {{ include('backend/header.html.twig')}}
{% endblock %}

<!-- Menu -->
{% block submenu %}
    {{ include('backend/menu.html.twig')}}
{% endblock %}

<!-- Navbar -->
{% block navbar %}
    {{ include('backend/navbar.html.twig')}}
{% endblock %}

<!--Content -->
<div class="content">
    <div class="container-fluid">
        {% block content %}

        {% endblock %}

    </div>
</div>

<!-- Footer -->
{% block footer %}
    {{ include('backend/footer.html.twig')}}
{% endblock %}
