<div class="sidebar" data-color="purple" data-background-color="black">

    <div class="logo">
        <a href="#4" class="simple-text logo-mini">
            CROMWELLS WEB
        </a>
        <a href="#" class="simple-text logo-normal">
            main admin page
        </a>
    </div>
    <div class="sidebar-wrapper" >
        <ul class="nav">
            <li class="nav-item active  " >
                <a class="nav-link" href="#0">
                    <i class="material-icons">C</i>
                    <p>CUSTOMERS</p>

                </a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link" href="#1">
                    <i class="material-icons">P</i>
                    <p>PRODUCTS</p>

                </a>
            </li>
            <li class="nav-item active  ">
                <a class="nav-link" href="#2">
                    <i class="material-icons">R</i>
                    <p>REPORTS</p>

                </a>
            </li>
            <li class="nav-item active dropdown ">
                <a class="nav-link" href="{{ path('admin_content_read')}}">
                    <i class="material-icons">M</i>
                    <p>MANAGE CONTENT</p>

                </a>
            </li>

            <!-- your sidebar here -->

        </ul>
    </div>
</div>
<div class="main-panel">